[Desktop Entry]
Name=Niri Workspaces
Exec=niri-applet-workspaces %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.niri.workspaces-symbolic
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
